@font-face {
    font-family: 'La Belle Aurore';
    src: url('LaBelleAurore-Regular.ttf') format('woff2'),
     //     url('LaBelleAurore-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
  }

  @font-face {
     font-family: 'coolvetica';
     src: url('coolvetica.rg-italic.otf') format('woff2'),
          // url('coolvetica.rg-italic.woff') format('woff');
     // font-weight: normal;
     // font-style: normal;
   }

   @font-face {
     font-family: 'OpenSans';
     src: url('OpenSans_Condensed-Medium.ttf') format('woff2'),
          // url('coolvetica.rg-italic.woff') format('woff');
     // font-weight: normal;
     // font-style: normal;
   }
